.app-container {
  display: flex;
  height: 100vh;
}

.navbar {
  flex: 0 0 auto;
  height: 100%;
}

.main-content {
  flex: 1;
  overflow: auto;
}
.logo-help-separate {
  width: 78%;
  margin-left: 10px;
}
